version: '3'

volumes:
  mariadb-volume:
    driver: local
    driver_opts:
      device: /home/malatini/data/database
      type: volume
      o: bind
  wordpress-volume:
    driver: local
    driver_opts:
      device: /home/malatini/data/wordpress
      type: volume
      o: bind

networks:
  mariadb-network:
  nginx-network:

services:
  nginx:
    container_name: 42nginx
    build:
      context: ./requirements/nginx
    image: 42_nginx
    volumes:
      - wordpress-volume:/var/www/wordpress
    networks:
      - nginx-network
    ports:
      - "443:443"
    restart: unless-stopped

  mariadb:
    container_name: 42mariadb
    build:
      context: ./requirements/mariadb
    image: 42_mariadb
    volumes:
      - mariadb-volume:/var/lib/mysql
    networks:
      - mariadb-network
    environment:
      - MARIADB_ROOT_PWD=${MARIADB_ROOT_PWD}
      - MARIADB_DB=${MARIADB_DB}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PWD=${MARIADB_PWD}
    restart: unless-stopped

  wordpress:
    container_name: 42wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress
    image: 42_wordpress
    volumes:
      - wordpress-volume:/var/www/wordpress
    networks:
      - nginx-network
      - mariadb-network
    environment: 
      - WP_URL=${WP_URL}
      - WP_DATABASE=${WP_DATABASE}
      - WP_TITLE=${WP_TITLE}
      - WP_ADMIN_USER=${WP_ADMIN_USER}
      - WP_ADMIN_PWD=${WP_ADMIN_PWD}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER=${WP_USER}
      - WP_USER_PWD=${WP_USER_PWD}
      - WP_USER_EMAIL=${WP_USER_EMAIL}
      - MARIADB_HOST=${MARIADB_HOST}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PWD=${MARIADB_PWD}
      - MARIADB_DB=${MARIADB_DB}
    restart: unless-stopped
