/**
 * Inspiro Lite: Dark Color Scheme
 *
 * See inc/color-patterns.php for dynamic color overrides for the theme.
 *
 * Colors are ordered from light to dark.
 */
:root {
    --inspiro-primary-color: #0bb4aa;
    --inspiro-dark-color: #101010;
    --inspiro-light-grey-color: #f2f4f6;
    --inspiro-color-background-body: #fff;
    --inspiro-color-link-hover: #000;
}

body.colors-dark {
    background-color: #222;
    color: #eee;
    --inspiro-color-link-hover: #fff;
}
body.colors-dark .site-content-contain {
    background: #222;
    color: #eee;
}
body.colors-dark h1,
body.colors-dark h2,
body.colors-dark h3,
body.colors-dark h4,
body.colors-dark h5,
body.colors-dark h6, body.colors-dark.blog .page-title, body.colors-dark.search .page-title, body.colors-dark.archive .page-title,
body.colors-dark .widget .title,
body.colors-dark .entry-title {
    color: #ddd;
}
body.colors-dark .entry-meta,
body.colors-dark .entry-footer {
    color: #777;
}
body.colors-dark .entry-content a:hover {
    color: #fff;
}
body.colors-dark .entry-meta a,
body.colors-dark .entry-title a,
body.colors-dark .entry-footer .post-author a,
body.colors-dark .comment-author .fn,
body.colors-dark .comment-author .fn a {
    color: #ddd;
}
body.colors-dark .entry-meta a:hover,
body.colors-dark .entry-title a:hover,
body.colors-dark .entry-footer .post-author a:hover,
body.colors-dark .comment-author .fn:hover,
body.colors-dark .comment-author .fn a:hover {
    color: var(--inspiro-primary-color);
}
body.colors-dark .pagination .page-numbers,
body.colors-dark .comments-pagination .page-numbers {
    color: #777;
}
body.colors-dark .pagination .page-numbers:not(.dots):hover,
body.colors-dark .pagination .page-numbers.current,
body.colors-dark .comments-pagination .page-numbers:not(.dots):hover,
body.colors-dark .comments-pagination .page-numbers.current {
    color: var(--inspiro-primary-color);
}
body.colors-dark.blog .entry-meta a, body.colors-dark.archive .entry-meta a, body.colors-dark.search .entry-meta a {
    border-color: #333;
}
body.colors-dark.blog .site-main > article:not(.sticky):after, body.colors-dark.archive .site-main > article:not(.sticky):after, body.colors-dark.search .site-main > article:not(.sticky):after, body.colors-dark:not(.has-archive-description):not(.has-header-image) .page-title:after, body.colors-dark:not(.has-archive-description):not(.has-header-image).page .entry-title:after,
body.colors-dark .entry-footer .section-title:before,
body.colors-dark #comments > h3:after,
body.colors-dark #respond > h3:after {
    background-color: #333;
}
body.colors-dark.page-layout-sidebar-right.has-sidebar #secondary {
    border-color: #555;
}
body.colors-dark .button:not(.custom-header-button),
body.colors-dark .btn,
body.colors-dark .more-link,
body.colors-dark .more_link,
body.colors-dark .side-nav .search-form .search-submit,
body.colors-dark div.wpforms-container-full .wpforms-form input[type=submit],
body.colors-dark div.wpforms-container-full .wpforms-form button[type=submit],
body.colors-dark div.wpforms-container-full .wpforms-form .wpforms-page-button,
body.colors-dark .form-submit #submit {
    color: #eee;
    border-color: #555;
}
body.colors-dark .search-form button, body.colors-dark .search-form input {
    color: #fff;
}
body.colors-dark input,
body.colors-dark textarea {
    background-color: transparent;
}
body.colors-dark pre,
body.colors-dark mark,
body.colors-dark ins,
body.colors-dark input[type=text],
body.colors-dark input[type=email],
body.colors-dark input[type=url],
body.colors-dark input[type=password],
body.colors-dark input[type=search],
body.colors-dark input[type=number],
body.colors-dark input[type=tel],
body.colors-dark input[type=range],
body.colors-dark input[type=date],
body.colors-dark input[type=month],
body.colors-dark input[type=week],
body.colors-dark input[type=time],
body.colors-dark input[type=datetime],
body.colors-dark input[type=datetime-local],
body.colors-dark input[type=color],
body.colors-dark textarea,
body.colors-dark select,
body.colors-dark fieldset {
    color: #ccc;
    background: #333;
}
body.colors-dark .sticky {
    border-color: #555;
}
body.colors-dark .sticky .svg-icon-thumb-tack {
    background-color: #222;
}
body.colors-dark .sb-search.sb-search-open .sb-search-input {
    background-color: #000;
}
body.colors-dark .side-nav .search-form .search-submit:hover {
    color: var(--inspiro-primary-color);
    border-color: var(--inspiro-primary-color);
}
body.colors-dark .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}
body.colors-dark.woocommerce a.button, body.colors-dark.woocommerce button.button, body.colors-dark.woocommerce input.button, body.colors-dark.woocommerce #respond input#submit, body.colors-dark.woocommerce #content input.button, body.colors-dark.woocommerce-page a.button, body.colors-dark.woocommerce-page button.button, body.colors-dark.woocommerce-page input.button, body.colors-dark.woocommerce-page #respond input#submit {
    color: #fff;
    border: 2px solid #555;
    background: none;
}
body.colors-dark.woocommerce a.button:hover, body.colors-dark.woocommerce button.button:hover, body.colors-dark.woocommerce input.button:hover, body.colors-dark.woocommerce #respond input#submit:hover, body.colors-dark.woocommerce #content input.button:hover, body.colors-dark.woocommerce-page a.button:hover, body.colors-dark.woocommerce-page button.button:hover, body.colors-dark.woocommerce-page input.button:hover, body.colors-dark.woocommerce-page #respond input#submit:hover, body.colors-dark.woocommerce-page #content input.button:hover {
    color: var(--inspiro-primary-color);
    border: 2px solid var(--inspiro-primary-color);
    background: none;
}
body.colors-dark.woocommerce div.product form.cart .button, body.colors-dark.woocommerce-page div.product form.cart .button, body.colors-dark.woocommerce #content div.product form.cart .button, body.colors-dark.woocommerce-page #content div.product form.cart .button, body.colors-dark.woocommerce a.button.alt, body.colors-dark.woocommerce-page a.button.alt, body.colors-dark.woocommerce button.button.alt, body.colors-dark.woocommerce-page button.button.alt, body.colors-dark.woocommerce input.button.alt, body.colors-dark.woocommerce-page input.button.alt, body.colors-dark.woocommerce #respond input#submit.alt, body.colors-dark.woocommerce-page #respond input#submit.alt, body.colors-dark.woocommerce #content input.button.alt,
body.colors-dark #main .woocommerce-page #content input.button.alt {
    color: #fff;
    border: 2px solid #555;
    background: none;
}
body.colors-dark.woocommerce div.product form.cart .button:hover, body.colors-dark.woocommerce-page div.product form.cart .button:hover, body.colors-dark.woocommerce #content div.product form.cart .button:hover, body.colors-dark.woocommerce-page #content div.product form.cart .button:hover, body.colors-dark.woocommerce a.button.alt:hover, body.colors-dark.woocommerce-page a.button.alt:hover, body.colors-dark.woocommerce button.button.alt:hover, body.colors-dark.woocommerce-page button.button.alt:hover, body.colors-dark.woocommerce input.button.alt:hover, body.colors-dark.woocommerce-page input.button.alt:hover, body.colors-dark.woocommerce #respond input#submit.alt:hover, body.colors-dark.woocommerce-page #respond input#submit.alt:hover, body.colors-dark.woocommerce #content input.button.alt:hover,
body.colors-dark #main .woocommerce-page #content input.button.alt:hover {
    color: var(--inspiro-primary-color);
    border: 2px solid var(--inspiro-primary-color);
    background: none;
}
body.colors-dark.woocommerce button.button.alt.disabled:hover {
    background: #333;
    color: #fff;
}
body.colors-dark.woocommerce div.product form.cart .button:hover, body.colors-dark.woocommerce-page div.product form.cart .button:hover, body.colors-dark.woocommerce-page #main a.button:hover, body.colors-dark.woocommerce button.button:hover, body.colors-dark.woocommerce input.button:hover, body.colors-dark.woocommerce #respond input#submit:hover, body.colors-dark.woocommerce #content input.button:hover, body.colors-dark.woocommerce-page a.button:hover, body.colors-dark.woocommerce-page button.button:hover, body.colors-dark.woocommerce-page input.button:hover, body.colors-dark.woocommerce-page #respond input#submit:hover, body.colors-dark.woocommerce-page #main input.button:hover, body.colors-dark.woocommerce button.button.alt:hover {
    color: var(--inspiro-primary-color);
    border: 2px solid var(--inspiro-primary-color);
    background: none;
}
body.colors-dark .woocommerce table.shop_table {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
body.colors-dark #add_payment_method #payment,
body.colors-dark .woocommerce-cart #payment,
body.colors-dark .woocommerce-checkout #payment {
    background: #343434;
    border-radius: 5px;
    border: 2px solid #525252;
}
body.colors-dark.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, body.colors-dark.woocommerce div.product .woocommerce-tabs ul.tabs li.active, body.colors-dark.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, body.colors-dark.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    background: none !important;
}
body.colors-dark.woocommerce-account .woocommerce-MyAccount-navigation {
    background: #101010;
}
body.colors-dark.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    border-bottom: 1px solid #333;
}
body.colors-dark.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    color: #fff;
}
body.colors-dark.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
body.colors-dark.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
    color: var(--inspiro-primary-color);
}